*{
    margin: 0;  padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{   background: #000;   }

h1{
    font-size: 50px;
    text-align: center;
    padding: 40px;
    color: #fff;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
    margin: 20px;
}

article{
    padding: 10px;
    background: #fff;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 10px;
}

h2{ padding: 10px; }
h2, span{  text-align: center;   }

.image-container{ display: flex;  }
.image-container img {   width: 100%;   }


@media only screen and (max-width: 600px){
    h1{  font-size: 45px; padding: 30px;   }
    main{   grid-template-columns: 1fr; }
}